*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@keyframes movendo {
    0%{

        transform: translate(-200px);
        opacity: 0;
    }

    80%{
        transform: translate(500px);
    }

    81%{
        transform: translate(300px);
        opacity: 1;
    }

    100%{
        transform: translate(500px);
    }
}

div{
    margin: 15px;
}


.bolinha{
    height: 200px;
    width: 200px;
    background-color: tomato;
    border-radius: 100px;
    animation-name: movendo;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.digitalHouseLogo{
    width: 500px;
    height: 500px;
    background-image: url('https://assets.digitalhouse.com/pg/prod/logos/dh-logo.svg');
    background-repeat: no-repeat;
    background-position-y: center;
}

.digitalHouseLogo:hover{
    transform: rotate(90deg)
}

.main-button {
    width: 200px;
    height: 200px;
    background-color: gray;
    align-content: center;
    border-radius: 30px;
    transition: 1.5s;
}

.main-button:hover{
    background-color: blue;
}