*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header button{
    margin-right: 30px;
}

.banner{
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

div a img{
    width: 80px;
    border-radius: 20px;
}

#catalogo{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.card img {
    width: 280px;
    height: 400px;
    object-fit: cover;
}

header{
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header li{
    font-size: 20px;
}
header li:hover{
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    padding: 30px;
    background-color: rgb(23, 53, 174);
    color: white;
    font-size: 18px;
}

footer div{
    text-align: center;
}

footer div svg{
    width: 25px;
    color: white;
}

footer div hr{
    margin: 4px 1px;
    display: block;
}

.h1-filme{
    text-align: center;
    margin: 20px 0;
}

h2{
    margin: 30px 0px;
}

.banner-shrek2{
    background-image: url('https://1.bp.blogspot.com/-JjFYvCgjp2A/X1fULOsy4LI/AAAAAAAAJJk/6rafo_-k3f4oPF2-dPtVZNVfwnF4U-EugCLcBGAsYHQ/s1600/IMG_20200519_143217.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.banner-forrest{
    background-image: url('https://images5.alphacoders.com/483/thumb-1920-483981.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.banner-aranha{
    background-image: url('https://images.hdqwalls.com/wallpapers/marvel-spider-man-no-way-home-4k-ua.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.banner-eternos{
    background-image: url('https://i.redd.it/tzghpq9y38y71.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


.banner-pantera{
    background-image: url('https://images4.alphacoders.com/900/thumb-1920-900361.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


.banner-estranho{
    background-image: url('https://i.pinimg.com/originals/66/f4/64/66f46475980b8aea6647c310ce6999e5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.banner-guardioes{
    background-image: url('https://wallpapercave.com/wp/wp1814934.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

.banner-ferro{
    background-image: url('https://images8.alphacoders.com/378/thumb-1920-378546.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


iframe{
    width: 100%;
    height: 500px
}

@media (max-width: 767px){
    .banner{
        display: none;
    }

    #catalogo{
        margin-top: 100px;
    }

    .main-header{
        margin-top: -100px;
    }

    .container{
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }


}
